nav{
    width: 100%;
    /* background-color: #333; */
    color: white;
    padding: 4px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.Container .logo{
    width: 180px;

}
.Container ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    font-size: 16px;
}
.Container{
    padding-left: 10%;
    padding-right: 10%;
}
.Dark-nav{
    background-color: #212EA0;
    transition: 0.5s;
}