nav{
    width: 100%;
    /* background-color: #333; */
    color: white;
    padding: 4px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.Container .logo{
    width: 180px;

}
.Container ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 20px;
    font-size: 16px;
}
.Container{
    padding-left: 10%;
    padding-right: 10%;
}
.Dark-nav{
    background-color: #212EA0;
    transition: 0.5s;
}
@media (max-width: 1000px){
    .logo{
        width: 140px;
    }
    nav ul li{
        margin: 10px 15px;
    }
}
.Menu-icon{
    display: none;
    position: relative;
    
}
@media (max-width: 840px){
    nav{
        padding: 15px 0px;

    }
    nav ul {
        position: fixed;
        top: 0;
        right: -200px;
        background: #212EA0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
        bottom: 0;
    }
    nav ul li{
        display: block;
        padding: 10px 18px;
        
    }
    .Menu-icon{
        display: block;
        width: 30px;
        cursor: pointer;
        padding-right: 0;
    }
    .hide-mobile-menu{
        right: 0px;
    }
}
