.Promgrams{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    position: absolute;
    inset: 0;
    background: rgba(0, 15, 152, 0.3);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70%;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: 0.4s;
}

.caption img{
    width: 60px;
    margin-bottom: 12px;
}

.caption p{
    font-size: 18px;
    font-weight: 500;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}